# Игнорировать папки и файлы, которые содержат конфиденциальную информацию
/admin-scripts/credentials/
/admin-scripts/setAdminRole.js
*.json

# Игнорируем всю папку admin-scripts, если не хотите отслеживать ничего в этой папке
admin-scripts/

# Если хотите игнорировать только конкретный .json файл
admin-scripts/credentials/mynewproject-ee25c-firebase-adminsdk-fbsvc-213c628382.json
node_modules  не отслежит эти же
node_modules
