# Игнорируем папку credentials внутри admin-scripts
admin-scripts/credentials/

# Игнорируем весь содержимое папки admin-scripts (если не хотите отслеживать ничего в этой папке)
admin-scripts/

# Если хотите игнорировать только .json файл
admin-scripts/credentials/mynewproject-ee25c-firebase-adminsdk-fbsvc-213c628382.json
node_modules
