/* src/Auth.css */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Темный фон для страницы авторизации */
  }
  
  .auth-form {
    background-color: #1f1f1f; /* Темный фон для формы */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
  }
  
  .auth-form h2 {
    color: white;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #6200ea; /* Фиолетовая граница */
    border-radius: 5px;
    background-color: #121212; /* Темный фон для инпута */
    color: white;
    margin-top: 5px;
  }
  
  .input-container input::placeholder {
    color: #bdbdbd;
  }
  
  .auth-button, .google-auth-button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #6200ea; /* Фиолетовый цвет кнопок */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: none;
  }
  
  .auth-button:hover, .google-auth-button:hover {
    background-color: #3700b3; /* Темнее при наведении */
  }
  
  .toggle-auth {
    margin-top: 15px;
  }
  
  .toggle-auth p {
    color: #6200ea;
    cursor: pointer;
  }
  
  .google-auth-button {
    background-color: #4285F4; /* Синий цвет кнопки Google */
    margin-top: 20px;
    transition: none;
  }
  
  .google-auth-button:hover {
    background-color: #357ae8;
    transition: none;
  }
  
  .auth-button, .google-auth-button {
    margin-top: 20px;
    transition: none;
  }
  
  .auth-button, .google-auth-button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #6200ea; /* Фиолетовый цвет кнопок */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: none;
  }
  
  .auth-button:hover, .google-auth-button:hover {
    background-color: #0e0e0e; /* Темнее при наведении */
    transition: none;
  }
  /* Скрываем элементы, которые не относятся к логину и регистрации */
.main-content {
    display: none;
  }
